:root {
    --primary-color: #0084fd;
    --primary-color-light: #b5ddff;
    --secondary-color: #9792e4 ;
    --secondary-color-light: #cbc9f1;
    --white-background:#fff;
    --light-gray: #5A6E7F;
}
/* Colori comuni */
.col-w {
    color: #fff;
}
/* Colori buttons */
.btn {
    background-color: #fff;
}
.btn-round {
    background-color: var(--secondary-color);
}
.btn-ty1 {
    background-color: var(--primary-color);
}
.btn-ty2 {
    background-color: var(--secondary-color);
}
/* Header Pagina */
header nav {
    background-color: var(--primary-color);
}
/* Corpo Pagina */
#first-section .card {
    background-color: var(--primary-color-light);
}
#first-section .card  i {
    color: var(--primary-color);
}
#first-section .card  i {
    color: var(--primary-color);
}
#first-section .card h2 {
    color: var(--primary-color);
}
#first-section .card p {
    color: var(--light-gray);
}
#first-section .card a i {
    color: #fff;
}
#first-section .btn-xl {
    background-color: var(--primary-color);
}
#second-section {
    background-color: var(--secondary-color);
}
#second-section .card {
    background-color: var(--white-background);
}
#third-section .card {
    background-color: var(--secondary-color);
}
#third-section .section-title h2 {
    color: var(--secondary-color);
}
#third-section .section-title h4 {
    color: var(--light-gray);
}
#fourth-section, #last-section,
#fourth-section .btn,
#fifth-section .card a {
    background-color: var(--secondary-color);
}
#fourth-section .card,
#last-section .card {
    background-color: #fff;
}
#last-section h1 {
    color: #fdc15f;
}
#last-section h3 {
    color: var(--secondary-color-light);
}
#fifth-section .card h1,
#fifth-section .card h2,
#fourth-section .card h1,
#fourth-section .card h2,
#last-section a.btn,
footer a {
    color: var(--secondary-color);
}
/* Footer Pagina */
footer {
    background-color: #333;
}
