/************ MQ > 768PX ***************/
@media screen and (min-width:768px) {
    /*************************
    MQ Prima Sezione
    *************************/
    #first-section .container {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem 1.75rem;
    }
    #first-section .container div.card:first-child {
        display: block;
    }
    #first-section #phone{
        text-align: left;
    }
    .sec-ty {
        width: calc(33.333% - 1.5rem);
    }
    .sec-ty i {
        margin-top: 3rem;
    }
    #first-section .container .card {
        margin: 0.75rem 0.75rem;
        padding: 0;
    }
    #first-section #first-card {
        width: calc(66.666% - 1.5rem);
    }
    #first-section .card-sub-c {
        display: flex;
    }
    #first-section .card-sub-c img {
        width:14rem;
        margin: 1rem 2rem -0.3rem;
    }
    #first-section p:not(#first-card p) {
        padding: 2rem 1rem;
    }
    /*************************
    *****MQ Terza Sezione*****
    *************************/
    #third-section .container .card {
        display: flex;
    }
    #third-section .container .card div:first-child {
        height: 100%;
        width: 40%;
        padding: 1rem;
    }
    #third-section .container .card div {
        height: 100%;
        width: 60%;
    }
    #third-section .container .card p,
    #third-section .container .card h4 {
        text-align: left;
    }
    #third-section .container .card p {
        padding-top: 2rem ;
    }
    #third-section .container .card div img {
        width: 90%;
    }
    /*************************
    *****MQ Quarta Sezione****
    *************************/
    #fourth-section .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #fourth-section .container .card {
        width: 48%;
    }
    #fourth-section .btn {
        padding: 0.5rem 4rem;
    }
    /*************************
    *****Quinta Sezione*******
    *************************/
    #fifth-section .container {
        display: flex;
        justify-content: space-between;
    }
    #fifth-section .container .card:first-child {
        width: 65%;
    }
    #fifth-section .container .card {
        width: 30%;
    }
    #fifth-section .container .card img {
        width: 80%;
    }
}
/************ MQ > 992PX ***************/
@media screen and (min-width: 992px) {
    .header-container,
    #second-section .container,
    #third-section .container,
    #third-section .section-title,
    #fifth-section .container,
    #fourth-section .container {
        width: 80%;
        margin: auto;
    }
    .header-container {
        align-items: center;
        width: 100%;
    }
    .header-container #nav-anchor {
        display: block;
    }
    .header-container #menu {
        display: none;
    }
    #first-section #phone,
    #second-section .container {
        display: flex;
        align-items: flex-end;
    }
    #first-section #first-card:first-child {
        display: flex;
    }
    #second-section .container {
        justify-content: space-around;
    }
    #second-section .container .card {
        width: 45%;
    }
    #second-section .card-sub-c img {
        margin: 4rem auto 0;
        width: 60%;
    }
    #second-section .card p,
    #second-section .card h1 {
        padding: 1rem;
    }
    #last-section .container {
        width: 60%;
        margin: auto;
    }
/************ MQ > 1200PX ***************/
@media screen and (min-width: 1200px) {
    .header-container {
        width: 70%;
    }
    #first-section .container {
        width: 70%;
        margin: auto;
        align-items: center;
    }
    #second-section .container {
        width: 70%;
    }
    #third-section .container, #third .section-title {
        width: 70%;
    }
    #fourth-section .container {
        width: 70%;
    }
    #fifth-section .container {
        width: 70%;
    }
    #last-section .container,
    footer .containter {
        width: 50%;
    }
    footer .container {
        width: 50%;
    }
}