*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    scroll-behavior: smooth;
}
/* Classi comuni */
.m-auto {
    margin: auto;
}
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.al-items-c {
    align-items: center;
}
.just-sp_between {
    justify-content: space-between;
}
.just-c {
    justify-content: center;
}
.pad_x-1_5 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.pad_x-2 {
    padding-left: 2rem;
    padding-right: 2rem;
}
.pad_x-2_5 {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.t_align-l {
    text-align: left;
}
.t_align-c {
    text-align: center;
}
.pad_y-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.pad_y-2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.pad_y-2-b {
    padding-bottom: 2rem;
}
.pad_y-2-t {
    padding-top: 2rem;
}
.margin_y-1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.margin_y-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.margin_y-4-b {
    margin-bottom: 4rem;
}
.margin_x-2 {
    margin-left: 2rem;
    margin-right: 2rem;
}
.h-40 {
    height: 40%;
}
.h-60 {
    height: 60%;
}
.w-30 {
    width: 30%;
}
.w-50 {
    width: 50%;
}
.w-80 {
    width: 80%;
}
.list_st_ty-n {
    list-style-type: none;
}
.text_dec-n {
    text-decoration: none;
}
.b_rad-30 {
    border-radius: 30px;
}
.b_rad-50 {
    border-radius: 50%;
}
/* Bottoni */
.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    font-weight: bold;
}
.btn-round {
    padding: 0.5rem;
    border-radius: 50%;
}
.btn-xl {
    padding: 0.5rem 3.5rem;
}
/* Corpo Pagina */
body {
    font-family: sans-serif;
}
#first-section .card-sub-c img {
    margin: 2rem auto 0;
}
/* Footer */
footer p:last-child {
    margin-top: 2rem;
}
.d-block {
    display: block;
}

#second-section h1 {
    font-size: 30px;
}
.line-h-0_5 {
    line-height: 1.5rem;
}